<div class="col-md-12 sidebar">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="form-check">
        <p>Sort Products by Price</p>
        <hr>
        <input
          class="form-check-input"
          type="checkbox"
          data-md-icheck (change)="sortProductsByPrice($event)">
        <label class="form-check-label" for="defaultCheck1">
          Low to High
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          High to Low
        </label>
      </div>
    </li>
  </ul><br>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="form-check">
        <p>Filter Products by Category:</p>
        <hr>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Clothing
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Travel
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Accessories
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Sports
        </label>
      </div>
    </li>
  </ul><br>
</div>

